<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<ul id="example-2">
  <li v-for="(item, index) in items">
    {{ parentMessage }} - {{ index }} - {{ item.message }}
  </li>
</ul>

<ul id="v-for-object" class="demo">
  <li v-for="value in object">
    {{ value }}
  </li>
</ul>


<div v-if="Math.random() > 10">
  Now you see me
</div>
<div v-else>
  Now you don't
</div>
<script src="../static/script/vue.js"></script>
<script>

  var example2 = new Vue({
    el: '#example-2',
    data: {
      parentMessage: 'Parent??',
      items: [
        { message: 'Foo' },
        { message: 'Bar' }
      ]
    }
  })

  new Vue({
    el: '#v-for-object',
    data: {
      object: {
        firstName: 'John',
        lastName: 'Doe',
        age: 30
      }
    }
  })
</script>
</body>
</html>