<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Document</title>
  <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
  <script src="https://cdn.bootcss.com/zepto/1.2.0/zepto.min.js"></script>
  <script>
    window.jQuery = $;
  </script>
</head>
<body>

移动端，手指滑动屏幕查看效果。

<script type="text/javascript">
  var windowHeight = document.documentElement.clientHeight,
    body = document.body;
  console.log(body);
  body.offsetHeight = windowHeight;
  var startX, startY, moveEndX, moveEndY, X, Y;

  /*$("body").on("touchstart", function(e) {
    e.preventDefault();
    startX = e.originalEvent.changedTouches[0].pageX,
      startY = e.originalEvent.changedTouches[0].pageY;
  });*/
  body.addEventListener('touchstart',function(e){
    e.preventDefault();
    startX = e.changedTouches[0].pageX;
    //console.log(e.changedTouches[0].pageX);
  });
  body.addEventListener('touchmove',function(e){
    e.preventDefault();

    //console.log(e.changedTouches[0].pageX);
  });
  body.addEventListener('touchend',function(e){
    e.preventDefault();
    endEndX = e.changedTouches[0].pageX;
    //console.log(e.changedTouches[0].pageX);
    if(endEndX > startX) {
      body.innerHTML = 'hahaaaaa';
    }
  });
  /*$("body").on("touchmove", function(e) {
    e.preventDefault();
    moveEndX = e.originalEvent.changedTouches[0].pageX,
      moveEndY = e.originalEvent.changedTouches[0].pageY,
      X = moveEndX - startX,
      Y = moveEndY - startY;

    if ( Math.abs(X) > Math.abs(Y) && X > 0 ) {
      alert("left 2 right");
    }
    else if ( Math.abs(X) > Math.abs(Y) && X < 0 ) {
      alert("right 2 left");
    }
    else if ( Math.abs(Y) > Math.abs(X) && Y > 0) {
      alert("top 2 bottom");
    }
    else if ( Math.abs(Y) > Math.abs(X) && Y < 0 ) {
      alert("bottom 2 top");
    }
    else{
      alert("just touch");
    }
  });*/
</script>
</body>
</html>